.rong-avatar{
  align-items: center;
  border-radius:50%;
  box-sizing: border-box;
  text-align:center;
  position: relative;
  display: inline-block;
  background-color:#cacdd3;
  color:white;
}


.rong-avatar-text{
  display: inline-block;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform-origin: 0 center;
  transform: translateX(-50%);
}

.rong-avatar-img{
  display: inline-block;
  width: 100%;
  height: 100%;
  img,
  picture {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
}

.rong-avatar-square{
  border-radius:5px;
  img,
  picture {
    border-radius: 5px;
  }
}
