.rong-link {
  display: inline-block;
  color: #0b7def;
  padding:3px;
  border-radius: 3px;
  text-decoration: none;
  &:hover{
    background-color: rgb(241, 233, 233)
  }

}

.rong-link-error{
  color:rgb(227, 85, 78)  ;
}
.rong-link-success{
  color:#56b349  ;
}
.rong-link-warning{
  color:#f08332  ;
}
.rong-link-hoverable{
  &:hover{
    background-color: transparent
  }
}

.rong-link-disabled{
    color:rgb(156, 191, 250)  ;
    pointer-events: none;
    box-shadow: none;
  
}

